@import 'tailwindcss';

@theme {
  --color-primary: #d2ad6a;
  --color-secondary: #3e3c38;
  --color-tertiary: #706654;
  --color-neutral: #121212;

  --font-sans: 'Manrope', sans-serif;
  --font-serif: 'Newsreader', serif;
}
